body, html {
  max-width: 450px;
  margin: 0 auto;
  overflow-x: hidden;
  padding: 0;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0 30px;
}

header {
  text-decoration: none;
  background: #333333;
  color: #FFF;
  height: 50px;
}

nav a {
  display: block;
}

.collapsed {
  display: none;
}

.toggle-topbar {
  width: 45px;
}

.navbar-header {
  padding-top: 15px;
  text-align: center;
  height: 20px;
}

#nav-toggle {
  position: absolute;
  left: 3%;
  top: 0.3%;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 30px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}

#nav-toggle span:before {
  top: -7px;
}

#nav-toggle span:after {
  top: 7px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 500ms ease-in-out;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  transform: rotate(45deg);
}

#nav-toggle.active span:after {
  transform: translateY(-10px) rotate(-45deg);
  top: 10px;
}

.navbar-brand {
  margin: 0 auto;
}

.navbar-collapsible {
  background: #333;
  width: 100%;
  position: absolute;
}

.current {
  text-decoration: underline;
}

span.touch-btn {
  float: right;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  width: 20px;
  height: 20px;
  margin: -6px 0 0 0;
  padding: 2px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  text-align: center;
  font-family: arial,sans-serif;
  font-size: 14px;
  display: block;
  overflow: hidden;
  text-indent: -9999px;
  background: url(../img/plus-minus.gif) no-repeat 50% 2px #666;
  transform-origin: 50% 50%;
  transform: rotate(180deg);
  background-position: 50% -18px;
}

span.touch-btn.active {
  background-position: 50% 2px;
  transform-origin: 50% 50%;
  transform: rotate(0deg);
}

li {
  padding: 10px 0;
}

.nojs .navbar-collapsible {
  display: block;
}

.nojs .main {
  margin-top: 150px;
}

hr {
  border-color: #444444;
  margin: 5px 0 10px 0 !important;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
  -webkit-backface-visibility: hidden;
}

.category-wrapper {
  max-width: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

.category img {
  max-width: 300px;
  max-height: 200px;
}

.category {
  max-width: 300px;
}

.category h4 {
  background: #333;
  color: #FFF;
  height: 60px;
  line-height: 60px;
  width: 300px;
  padding-top: 5px;
  margin: 0 auto;
}

.category p {
  text-align: left;
  word-wrap: break-word;
}

.footer-nav {
  list-style: none;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
}

.footer-nav li {
  display: inline;
  width: 300px;
}
